In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('TSLA.csv')

In [3]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-10-27,229.770004,233.809998,222.850006,225.089996,225.089996,61638800
1,2022-10-28,225.399994,228.860001,216.350006,228.520004,228.520004,69152400
2,2022-10-31,226.190002,229.850006,221.940002,227.539993,227.539993,61554300
3,2022-11-01,234.050003,237.399994,227.279999,227.820007,227.820007,62688800
4,2022-11-02,226.039993,227.869995,214.820007,214.979996,214.979996,63070300